<!DOCTYPE html>
<html lang="es">
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="theme-color" content="#000" />
		<link rel="shortcut icon" href="assets/img/favicon.ico">
		<meta name="description" content='Peluquería del barrio de Villa del Parque.'>
		<meta name="keywords" content="Factor RH Creativo peluqueria Villa del Parque estilistas color alisado manicuria" />
		<meta name="author" content="Fernando Osorio" />
		<meta name="thumbnail" content="assets/img/meta.jpg" />
		<meta property="og:description" content="Peluquería del barrio de Villa del Parque.">
		<meta property="og:site_name" content="<%= htmlWebpackPlugin.options.title %>" />
		<meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
		<meta property="og:description" content='Peluquería del barrio de Villa del Parque.' />
		<meta property="og:locale" content="es_AR" />
		<meta property="og:url" content="https://factorrhcreativo.com/" />
		<meta property="og:image" content="assets/img/meta.jpg" />
		<meta property="og:type" content="website" />
		<meta name="twitter:title" content="<%= htmlWebpackPlugin.options.title %>" />
		<meta name="twitter:description" content='Peluquería del barrio de Villa del Parque.' />
		<meta name="twitter:card" content="photo" />
		<meta name="twitter:url" content="https://fatorrhcreativo.com/" />
		<meta name="twitter:image" content="assets/img/meta.jpg" />
		<meta name="twitter:image:width" content="435" />
		<meta name="twitter:image:height" content="290" />
	</head>
	<body>
		<div id="rh-app">
			<header>
				<div class="navbar fixed-top">
					<a href="#home" class="menu-item logo">
						<div class="item-content">
							<img src="assets/img/brand.webp" alt="<%= htmlWebpackPlugin.options.title %>">
						</div>
					</a>
				</div>
			</header>
			<main>
				<div id="home" class="jumbotron-container" style="background-image: url('assets/img/cover-teaser.webp'); background-size: cover; background-position: center; height: 100vh; position: relative;">
					<div class="jumbotron text-white container-fluid jumbotron-fluid d-flex flex-center-vertical w-100 mb-0" style="background-color: rgba(0,0,0,0.5); height: 100%;">
						<div class="d-flex align-items-center text-left w-100">
							<div class="col-md-8 offset-md-2 text-center">
								<h1 class="text-uppercase">Muy pronto</h1>
								<p>¡Nos estamos renovando para vos!</p>
							</div>
						</div>
						<div class="shop-status closed">
							<div class="container-fluid">
								<strong>Cerrado</strong>
								<p class="mb-0">Nos estamos mudando. Volveremos en unas semanas.</p>
							</div>
						</div>
					</div>
				</div>
			</main>
			<footer>
				<div class="container-fluid text-center">
					<p>Factor RH Creativo - Copyright <span id="year"></span></p><p><s>Desarrollado</s>En desarrollo por <a href="https://fermoto5hd.com/" rel="noopener" target="_blank"><img src="assets/img/fm5hd.svg" class="fm5hd-brand" alt="Fermoto5HD" height="15" title="Fermoto5HD"></a></p>					
				</div>
			</footer>
		</div>
	</body>
	<script type="text/javascript">
		function _makeYear() {
			var d = new Date();
			return d.getFullYear();
		}

		function _detectPosition(position) {
			if (position > 150) {
				document.getElementsByClassName("navbar")[0].classList.add("on-scroll");
			} else {
				document.getElementsByClassName("navbar")[0].classList.remove("on-scroll");
			}
		}

		window.document.body.onscroll = function() {
			_detectPosition(this.pageYOffset);
		}
		_detectPosition(window.document.pageYOffset);

		document.getElementById("year").innerHTML = _makeYear();
	</script>
</html>